.bd-placeholder-img{
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg{
    font-size: 3.5rem;
  }
}

/* Estilo del filtro  */
.filterDiv{
display: none;
}

.show{
display: block;
}


.container{
overflow: hidden;
background-color: white;
}

/* Estilo de los botones */
.btn{
border:none;
outline: none;
padding: 10px 12px;
background-color: #FFC72C;
border-color: #281A08;
cursor: pointer;
}

.btn:hover{
background-color: #F2A900;
color: white;
border-color: #281A08;
}

.btn:active{
max-width: 100%;
background-color: #F2A900;
color: white;
border-color: #27251F;
}

/* Estilo de las etiquetas */
.badge-me {
  border: none;
  outline: none;
  background-color:  #977506;
  border-color: #281A08;
  cursor: pointer;
  color: white;
  font-size: 1em;
  margin-bottom: .5em;
  font-family:Arial, Helvetica, sans-serif;
}

.badge-me:hover {
  background-color: #F2A900;
  color: white;
  border-color: #281A08;
}

.badge-me:active {
  background-color: #F2A900;
  color: white;
  border-color: #27251F;
}